<!DOCTYPE html>
<html lang="en">
  <head>
    @@include('../../../includes/head.html', {path: '../../..'})
  </head>
  <body class="">
    @@include('../../../includes/header.html')
    <div class="root">
        @@include('../../../includes/navbar.html', {path: '../../..'})
        <main id="mainContent" role="main" class="main">
          <div class="article-wrapper">
            <article class="article doc">
                <div class="sect">
                    <h1 id="N0">注册API</h1>
                    <div class="sect-body">注册API是新增API的方式之一，支持将外部已有API注册至API网关，在本平台中进行API的统一管理调用。</div>
                </div>
                <div class="sect">
                    <h2 id="N1">流程说明</h2>
                    <div class="sect-body"></div>
                </div>
            </article>
            @@include('../../../includes/anctorList.html')
          </div>
        </main>
    </div>
    <script src="../../../js/includes/bodyScript.js"></script>
  </body>
</html>
