<!DOCTYPE html>
<html lang="en">
  <head>
    @@include('../../includes/head.html', {path: '../..'})
  </head>
  <body class="">
    @@include('../../includes/header.html')
    <div class="root">
        @@include('../../includes/navbar.html', {path: '../..'})
        <main id="mainContent" role="main" class="main">
          <div class="article-wrapper">
            <article class="article doc">
                <div class="sect">
                    <h1 id="N0">API测试</h1>
                    <div class="sect-body">API测试可通过Postman测试工具来实现，Postman是一款强大的Http发包测试工具，可实现API的签名功能以及请求发送，充分验证API的可用性。
                      AK/SK、API-Token调用方式的使用步骤如下：</div>
                </div>
                <div class="sect">
                    <h2 id="N1">步骤一：准备请求内容</h2>
                    <div class="sect-body">

                    </div>
                </div>
            </article>
            @@include('../../includes/anctorList.html')
          </div>
        </main>
    </div>
    <script src="../../js/includes/bodyScript.js"></script>
  </body>
</html>
