<!DOCTYPE html>
<html lang="en">
  <head>
    @@include('../../includes/head.html', {path: '../..'})
  </head>
  <body class="">
    @@include('../../includes/header.html')
    <div class="root">
        @@include('../../includes/navbar.html', {path: '../..'})
        <main id="mainContent" role="main" class="main">
          <div class="article-wrapper">
            <article class="article doc">
                <div class="sect">
                    <h1 id="N0">API签名</h1>
                    <div class="sect-body">系统支持两种API的认证方式：Token认证、AK/SK认证。</div>
                </div>
                <div class="sect">
                    <h2 id="N1">Token方式</h2>
                    <div class="sect-body">
                      <div class="sub-sect">
                        <h3 id="N1C1">原理</h3>
                        <div class="sect-body"></div>
                      </div>
                      <div class="sub-sect">
                        <h3 id="N1C2">签名使用方式</h3>
                        <div class="sect-body"></div>
                      </div>
                    </div>
                </div>
                <div class="sect">
                  <h2 id="N2">AK/SK方式</h2>
                  <div class="sect-body">
                    <div class="sub-sect">
                      <h3 id="N2C1">原理</h3>
                      <div class="sect-body"></div>
                    </div>
                    <div class="sub-sect">
                      <h3 id="N2C2">签名生成方式</h3>
                      <div class="sect-body"></div>
                    </div>
                    <div class="sub-sect">
                      <h3 id="N2C2">网站简易生成签名</h3>
                      <div class="sect-body"></div>
                    </div>
                  </div>
                </div>
            </article>
            @@include('../../includes/anctorList.html')
          </div>
        </main>
    </div>
    <script src="../../js/includes/bodyScript.js"></script>
  </body>
</html>
