<!DOCTYPE html>
<html lang="en">
  <head>
    @@include('../../../includes/head.html', {path: '../../..'})
  </head>
  <body class="">
    @@include('../../../includes/header.html')
    <div class="root">
        @@include('../../../includes/navbar.html', {path: '../../..'})
        <main id="mainContent" role="main" class="main">
          <div class="article-wrapper">
            <article class="article doc">
                <div class="sect">
                    <h1 id="N0">自定义SQL配置参数</h1>
                    <div class="sect-body"></div>
                </div>
                <div class="sect">
                    <h2 id="N1">编写提示</h2>
                    <div class="sect-body"></div>
                </div>
                <div class="sect">
                  <h2 id="N2">数据源配置</h2>
                  <div class="sect-body"></div>
                </div>
                <div class="sect">
                    <h2 id="N3">忽略语法校验</h2>
                    <div class="sect-body"></div>
                  </div>
                  <div class="sect">
                    <h2 id="N4">格式化语句</h2>
                    <div class="sect-body"></div>
                  </div>
                  <div class="sect">
                    <h2 id="N5">编辑参数</h2>
                    <div class="sect-body"></div>
                  </div>
                  <div class="sect">
                    <h2 id="N6">高级配置</h2>
                    <div class="sect-body"></div>
                  </div>
            </article>
            @@include('../../../includes/anctorList.html')
          </div>
        </main>
    </div>
    <script src="../../../js/includes/bodyScript.js"></script>
  </body>
</html>
