<!DOCTYPE html>
<html lang="en">
  <head>
    @@include('../../../includes/head.html', {path: '../../..'})
  </head>
  <body class="">
    @@include('../../../includes/header.html')
    <div class="root">
        @@include('../../../includes/navbar.html', {path: '../../..'})
        <main id="mainContent" role="main" class="main">
          <div class="article-wrapper">
            <article class="article doc">
                <div class="sect">
                    <h1 id="N0">生成API</h1>
                    <div class="sect-body">生成API是新增API的方式之一，包括模板向导模式和自定义SQL模式。</div>
                </div>
                <div class="sect">
                    <h2 id="N1">适用场景</h2>
                    <div class="sect-body"></div>
                </div>
                <div class="sect">
                  <h2 id="N2">流程说明</h2>
                  <div class="sect-body"></div>
                </div>
            </article>
            @@include('../../../includes/anctorList.html')
          </div>
        </main>
    </div>
    <script src="../../../js/includes/bodyScript.js"></script>
  </body>
</html>
